.modal-background {
  display: none;

  position: fixed;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.301);

  z-index: 999;

  &.show {
    display: flex;
  }

  .modal-body {
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 140px;
  }
}
