<div>
  <h2>Välj en tid</h2>

  <div class="dropdown">
    <button (click)="toggleMenu = !toggleMenu" class="dropdown-toggle">
      <span>{{ displayText() }}</span>
      <img
        [ngClass]="{ rotate: toggleMenu }"
        src="./../../../assets/icons/chevron-down.png"
      />
    </button>
    <div *ngIf="toggleMenu" class="dropdown-menu">
      <label *ngFor="let room of rooms">
        {{ room.name }} ({{ room.capacity }} personer)
        <input
          (click)="roomCounter(room.id)"
          [(ngModel)]="room.selected"
          type="checkbox"
          checked
        />
      </label>

      <div class="dropdown-actions">
        <button (click)="toggleMenu = !toggleMenu" class="btn select">
          Välj
        </button>
        <button (click)="removeFilters()" class="btn deselect">
          Avmarkera
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Just hardcoded for now. Might add this functionality later if time permits. Could buffer 5~ dates at the time so switching 1 date up or down doesn't trigger API calls -->
<div class="date-changer">
  <img src="./../../../assets/icons/left-arrow.png" />
  <span>18 oct - 20 oct</span>
  <img src="./../../../assets/icons/right-arrow.png" />
</div>

<div class="date-table-container">
  <div class="date-column" *ngFor="let date of dates">
    <div class="date-header">{{ date | date : "MMM d" }}</div>

    <ng-container *ngFor="let room of rooms">
      <ng-container *ngIf="room.selected">
        <ng-container *ngFor="let timeSlot of room.timeSlotsByDate">
          <div *ngIf="timeSlot.date === date" class="time-slots">
            <div
              [ngClass]="{
                highlight: selection.timeSlotId === slot.id
              }"
              (click)="selectTimeSlot(room.id, slot, timeSlot.date)"
              *ngFor="let slot of timeSlot.slots"
              class="slot"
            >
              {{ room.name }} ({{ room.capacity }}) {{ slot.start_time }} -
              {{ slot.end_time }}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="actions">
  <button [disabled]="selection.roomId === 0" (click)="next()">Nästa</button>
</div>
